@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    font-family:Roboto;
}

.header-logo {
    font-size: 80px;
    line-height: 94px;
    margin-top: 63px;
}

.header-logo-ramda {
    text-decoration: none;
    color: #000000;
}

.header-logo-ramda span {
    color: lightskyblue;
}

.header-nav-menu {
    display: flex;
    justify-content: center;
    margin-top: 64px;
    background: #35444F;
    line-height: 28px;
    font-size: 24px;
    color: #FFFFFF;
}

.header-nav-menu-list {
    border: 1px solid #FFFFFF;
    padding: 26px 40px;

}

.header-nav-menu-item {
    text-decoration: none;
    color: #FFFFFF;
    display: block;
}

.header-nav-menu-list:hover {
    background: #222F3A;

}

.main-content {
    display: flex;

}

.main-aside {
    border: 1px solid #000000;
    width: 344px;
    margin: 48px 52px 484px 0;

}

.main-aside-menu {
    display: inline-block;
    text-align: left;
}

.main-aside-menu-list {
    display: inline-block;
    font-size: 27px;
    line-height: 27px;
    padding: 26px 44px;
}

.main-aside-menu-item {
    text-decoration: none;
    color: #495863;
}

.main-aside-menu-list:hover {
    font-weight: bold;
    padding-left: 74px;
    background: #DBDBDB;
    display: block;
}

.main-content-block {
    margin-top: 48px;
    border: 1px solid #000000;
    padding: 74px 0;
}

.main-content-block-photo {
    width: 320px;
    margin: auto;
}
.main-content-block-photo:hover img{
    transform: scale(1.2);
    transition: 1s;
}

.main-content-text {
    font-size: 18px;
    line-height: 24px;
    margin-top: 37px;
}

.footer-block {
    display: flex;
    align-content: center;
    background: rgba(99, 105, 110, 0.48);
    justify-content: space-around;
    padding: 20px 0;


}


.footer-menu {
    display: flex;
    justify-content: space-evenly;


}

.footer-menu-list {
    font-size: 28px;
    line-height: 28px;
    padding-inline: 10px;


}

.footer-menu-item {
    text-decoration: none;
    color: #0C1927;
}

.footer-menu-item:hover {
    border-bottom: 1px solid #3181A6;
    color: #3181A6;
}

.footer-copyright {
    font-size: 24px;
    line-height: 24px;
    color: #010101;
}
