*,
*::after,
*::before {
    box-sizing: border-box;
}

.main-page {
    background-image: url("../image/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}

.header {
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    transition: box-shadow .6s;
}

.header:hover {
    box-shadow: none;

}

.header-info {
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    margin: 0 0;
    padding: 18px 79px;
    align-items: center;
    flex-wrap: wrap;
}

.header-info__list {
    display: flex;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 27px;
}

.header-info__list:first-child {
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    text-transform: uppercase;
}

.header-info__item {
    text-decoration: none;
    color: #FFFFFF;
    transition: color .4s;
}

.header-info__item svg {
    fill: #ffffff;
    transition: fill .4s;
}

.header-info__item:hover {
    color: #3CB878;
}

.header-info__item svg:hover {
    fill: #3CB878;
}

.header-info__icon:first-child {
    display: flex;
    gap: 27px;
    justify-content: space-between;
}

.header-info__icon:nth-child(2)::before {
    content: "|";
    width: 1px;
    height: 25px;
    color: rgba(255, 255, 255, 0.9);
    opacity: 0.5;
    padding-right: 27px;
}

.form-account {
    max-width: 444px;
    width: 100%;
    max-height: 584px;
    height: 100%;
    margin: auto;
    padding: 31px 60px 38px;
    background: #FFFFFF;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wrapper-form__signup {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.wrapper-form__signup::before {
    content: " ";
    display: block;
    width: 20px;
    height: 20px;
    background: #3CB878;
    position: absolute;
    left: -60px;
}

.form-account__signup {
    font-size: 20px;
    line-height: 20px;
    color: #434343;
    margin: 0 0 15px;
    position: relative;
}

.form-account__item {
    text-decoration: none;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
    transition: color .4s, text-decoration .5s;
}

.form-account__item:hover {
    color: #01813F;
    text-decoration: underline;
}

.form-account__btn {
    max-width: 160px;
    max-height: 48px;
    height: 100%;
    width: 100%;
    padding: 17px 22px 17px 12px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    cursor: pointer;
    position: relative;
}

.btn-facebook {
    background: #305DB8;
    transition: background-color .4s;
}

.btn-google {
    background: #DF4A32;
    transition: background-color .4s;
}

.btn-facebook:hover {
    background: #022263;
}

.btn-google:hover {
    background: #AB1F09;
}

.form-account__btn i {
    padding-right: 38px;
}
.btn-facebook::after,
.btn-google::after{
    content: " ";
    display: block;
    width: 1px;
    height: 28px;
    opacity: 0.1;
    position: absolute;
    top: 10px;
}

.btn-facebook::after {
    background: #0A162F;
    left: 48px;
}

.btn-google::after {
    background: #2B0D09;
    left: 50px;
}

.form-account__or {
    color: #848484;
    font-size: 14px;
    line-height: 14px;
    margin: 31px auto 12px;
    position: relative;
}
.form-account__or::before,
.form-account__or::after {
    content: " ";
    display: block;
    width: 152px;
    height: 1px;
    background: #F2F2F2;
    position: absolute;
    top: 50%;
}

.form-account__or::after {
    right: 0;
}

.form-account__input {
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    margin-bottom: 12px;
    padding: 15px 20px;
    color: #434343;
    font-size: 14px;
    line-height: 14px;
    max-width: 322px;
    width: 100%;
}

.form-account__input:focus {
    outline: none;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    transition: 0.2s ease-in-out;
    transform: translateY(-.5em);
}

.form-account__input::placeholder {
    color: #BEBEBE;
    font-size: 14px;
    line-height: 14px;

}

/* убрала бэкграунд при автозаполнении в chrome*/
.form-account__input:-webkit-autofill,
.form-account__input:-webkit-autofill:hover,
.form-account__input:-webkit-autofill:focus,
.form-account__input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.checkbox-agree__label {
    text-align: left;
    color: #434343;
    font-size: 14px;
    line-height: 14px;
    margin-right: 60px;

}

.checkbox-agree__item {
    text-decoration: none;
    color: #3CB878;
    transition: color .4s, text-decoration .5s;
}

.checkbox-agree__item:hover {
    text-decoration: underline;
    color: #01813F;
}

/* change style checkbox*/
.checkbox-agree__input:checked,
.checkbox-agree__input:not(:checked) {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.checkbox-agree__input:checked + .checkbox-agree__label,
.checkbox-agree__input:not(:checked) + .checkbox-agree__label {
    position: relative;
    cursor: pointer;
    padding-left: 28px;

}

.checkbox-agree__input:checked + .checkbox-agree__label::before,
.checkbox-agree__input:not(:checked) + .checkbox-agree__label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;
    background: rgba(0, 0, 0, 0.0001);
    opacity: 0.5;
}

.checkbox-agree__input:checked + .checkbox-agree__label::after,
.checkbox-agree__input:not(:checked) + .checkbox-agree__label::after {
    content: "";
    position: absolute;
    left: 2px;
    top: 3px;
    width: 14px;
    height: 10px;
    border-radius: 1px;
    border-left: 2px solid #3CB878;
    border-bottom: 2px solid #3CB878;
    transform: rotate(-55deg);
    transition: 0.3s ease;
}

.checkbox-agree__input:checked + .checkbox-agree__label::after {
    opacity: 1;
}

.checkbox-agree__input:not(:checked) + .checkbox-agree__label::after {
    opacity: 0;
}

.btn-submit {
    padding: 16px 99px;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    border: none;
    margin-top: 20px;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 16px;
    cursor: pointer;
    transition: background-color .4s;
}

.btn-submit:hover {
    background: #01813F;
}

