.wrapperModal{


&:before {
  content: '';
  background: #000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  z-index: 1;
}
}

.modal {
  background-color: #e74b3b;
  border-radius: 10px;
  box-shadow: 0 1px 4px rgb(60 60 60 / 15%);
  z-index: 100;
  max-width: 35vw;
  min-width: 300px;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 25vh;
  color: white;

  & h2{
    padding: 30px 20px;
     background: rgba(0,0,0,.15);
    margin: 0;
  }

  & p {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    line-height: 28px;
  }

  & .iconModal{
    position: absolute;
    right: 0;
    top: 0;
    fill: white;
  }
}

