*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}
.container {
  margin: 0 auto;
  @media (min-width: 768px) {
    max-width: 768px;
  }
  @media (min-width: 1200px) {
    max-width: 1170px;
  }
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
ul {
  list-style: none;
}

