@import "vars";
@import "mixins";
@import "base";
@import "header";
@import "post-section";
@import "shot-section";

.main-footer {
  background: #000000;
}

.footer-container{
  text-align: center;
  padding: 0 5px;
  max-width: 303px;
  @media (min-width: 768px) {
    max-width: 684px;
  }
}
.main-footer__title{
  @include font_style(700, 22px);
  color: #FEFEFE;
  font-size: $fs14;
  padding-top: 38px;
  padding-bottom: 8px;
  text-transform: uppercase;
  @media (min-width: 768px) {
    font-size: $fs16;
    padding-top: 57px;
    padding-bottom: 22px;
  }
  @media (min-width: 1200px) {
    padding-top: 66px;
  }
}
.main-footer__text {
  color: $footText;
  @include font_style(400, 20px);
  font-style: $fs12;
  margin-bottom: 26px;
  & span {
    display: none;
  }
  @media (min-width: 768px) {
    font-size: $fs16;
    margin-bottom: 37px;
    @include font_style(400, 26px);
    & span {
      display: inline-block;
    }
  }
}

.icon-list{
  display: flex;
  justify-content: center;
  gap: 6px;
}

.footer-contact__list{
  @include font_style(400, 24px);
  font-size: $fs14;
  color: $footText;
  margin-top: 25px;
  padding-bottom: 47px;
  & a {
    color: $footText;
    @include font_style(400, 24px);
    font-size: $fs14;

  }
  @media (min-width: 768px) {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 34px;
    font-size: $fs16;
    line-height: 28px;
    padding-bottom: 56px;
    & a {
      font-size: $fs16;
      line-height: 28px;
    }
    @media (min-width: 1200px) {
      padding-bottom: 70px;
    }
  }
}

