@import "vars";
@import "mixins";
@import "base";

.main-header{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  @media (min-width: 768px){
    align-items: center;
  }
}
.main-header__container {
  @media (min-width: 768px) {
    max-width: 609px;
  }
  @media (min-width: 1200px) {
    max-width: 812px;
  }
}

.main-header__nav {
  display: flex;
  justify-content: flex-end;

  @media (min-width: 768px){
    justify-content: space-between;
  }
}

.navigation__list {
  position: fixed;
  top: 60px;
  right: -100%;
  margin: 0 auto;
  transition: 0.3s;
  &--active {
    right: 0;
  }
  @media (min-width: 768px){
    display: flex;
    gap: 34px;
    justify-content: space-between;
    position: static;
    min-width: 100%;
    margin: 41px auto 43px;
    transition: 0.3s;

  }
  @media (min-width: 1200px){
    gap: 68px;
  }
}

.navigation__item {
  text-transform: uppercase;
  background: #F5F5F5;
  padding: 2px 80px 2px 12px;
  cursor: pointer;
  &:hover {
    background: #E5E5E5;
  }
  @media (min-width: 768px) {
    background: none;
    padding: 0;
    &:hover {
      background: none;
    }
  }
}

.navigation__link {
  color: $main-color;
  font-size: $fs11;
  @include font_style(400, 22px);
  &--actual {
    color: #57A4A4;
  }
}

.navigation-btn {
  width: 44px;
  height: 37px;
  background: #000000;
  margin-top: 23px;
  margin-bottom: 23px;
  border: none;
  position: relative;
  @media (min-width: 768px) {
    display: none;
  }
}
.navigation-btn__bar{
  display: block;
  width: 17px;
  height: 2px;
  margin: 2px auto;
  background: $white-color;
  &--active {
    &:nth-child(2){
      opacity: 0;
    }
    &:nth-child(1){
      transform: translateY(2px) rotate(45deg);
    }
    &:nth-child(3){
      transform: translateY(-6px) rotate(-45deg);
    }
  }
}

.header__intro{
  max-width: 100%;
  height:auto;
  @media (min-width:768px) {
    min-width: 768px;
  }
  @media (min-width:1200px) {
    min-width: 1170px;
  }
}

