@import "vars";
@import "mixins";
@import "base";
@import "header";

.post-container{
  max-width: 555px;
  margin-bottom: 40px;
  @media (min-width: 768px) {
    max-width: 555px;
    margin-bottom: 60px;
  }
  @media (min-width: 1200px) {
    max-width: 1170px;
    margin-bottom: 69px;
  }
}

.title {
  @include font_style(700, 22px);
  font-size: $fs14;
  color: $main-color;
  text-transform: uppercase;

}

.post__title {
  margin-bottom: 23px;
  margin-top: 38px;
  @media (min-width: 768px) {
    margin-bottom: 24px;
    margin-top: 56px;
    font-size: $fs16;
  }
  @media (min-width: 1200px) {
    margin-top: 66px;

  }
}

.post__list {
  display: grid;
  row-gap: 29px;
  @media (min-width: 1200px) {
    row-gap: 32px;
  }
  @media (min-width: 1200px) {
    grid-template-columns: repeat(2, auto);
    row-gap: 32px;
  }
}

.post__item {
  list-style: none;
  &:last-child {
    display: none;
  }

  @media (min-width: 768px) {
    display: grid;
    column-gap: 21px;
    &:last-child {
      display: grid;
    }
    grid-template-areas:
            'img sub'
            'img sgn'
            'img txt';
  }
}

.post__img {
  grid-area: img;
}

.post__subtitle {
  grid-area: sub;
  @include font_style(700, 30px);
  font-size: $fs14;
  color: $main-color;
  margin-top: 11px;
  @media (min-width: 768px) {
    font-size: $fs16;
    margin-top: 0;
  }
}

.post__sign {
  grid-area: sgn;
  @include font_style(400, 20px);
  font-size: $fs11;
  color: $sign-color;
  @media (min-width: 768px) {
    font-size: $fs12;
    padding-bottom: 13px;
  }
}

.post__text {
  grid-area: txt;
  @include font_style(400, 26px);
  font-size: $fs14;
  display: none;
  @media (min-width: 768px) {
    display: grid;
  }
}
