@import "vars";
@import "mixins";
@import "base";
@import "header";
@import "post-section";

.shot  {
  @media (min-width: 768px) {
    background-color:rgba(245, 245, 245, 1);}
}
.shot__titles-list {
  padding-top: 38px;
  margin-bottom: 13px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  @media (min-width: 768px){
    margin-top: 47px;
    margin-bottom: 35px;
  }
  @media (min-width: 768px){
    margin-bottom: 24px;
  }
}

.shot__titles-item{  &--none {
  display: none;
  @media (min-width: 768px){
    display: flex;
  }
}}

.shot__list {
  display: grid;
  @media (min-width: 768px) {
    grid-template-columns: repeat(3, max-content);
    column-gap: 9px;
  }
  @media (min-width: 1200px) {
    grid-template-columns: repeat(4, max-content);
    column-gap: 10px;
  }

}
.shot__img {
  display: none;
  &--disf {
    display: block;
  }
  max-width: 301px;
  height: auto;
  margin-bottom: 42px;
  @media (min-width: 768px) {
    max-width: 250px;
    margin-bottom: 50px;
    display: block;
    &--disl {
      display: none;
    }
  }
  @media (min-width: 1200px) {
    max-width: 285px;
    &--disl {
      display: block;
    }
  }
}
