*,
*::after,
*::before {box-sizing: border-box;
}
.banner {
    background: url("../image/lay.png") no-repeat;
    padding: 528px 30px 133px 224px;
    background-position: center;
    background-size: cover;
}
.banner-title {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
    color: #FFFFFF;
    text-transform: uppercase;

}
.banner-slogan {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin-top: 16px;
}
.banner-big-slogan {
    border: 1px solid #FFFFFF;
    background: rgba(0,0,0,0.5);
    margin-top: 22px;
    display: inline-block;

}
.banner-orange {
    padding: 38px 31px;
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    line-height: 66px;
    color: #F48E0B;
    display: inline-block;
    text-transform: uppercase;
    border-right: 1px solid #F48E0B;


}
.banner-white {
    display: inline-block;
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    line-height: 66px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 38px 31px;


}
.logo {
    display:inline-block;
    text-transform: uppercase;
    color: #F48E0B;
    font-size:54px;
    line-height: 66px;
    margin-right: 261px;
}

.header-nav {
    display: inline-block;
}
.header__nav-menu__item{
    display: inline-block;
}
.header__nav-menu {
    display: inline-block;
}
.header__nav-menu-link {
    text-transform: uppercase;
    color: #F48E0B;
    margin-right: 69px;

}
