.list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 80px 50px;
  padding: 20px 40px 60px;
  justify-content: space-between;
  align-items: center;
}
.table-list {
  list-style: none;

  & li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex:1 1 auto;
    flex-wrap: wrap;
    border: 1px solid rgba(255, 69, 0, 0.16);
    box-shadow: 0 0 1px 1px rgba(255, 69, 0, 0.13);
    padding: 10px 40px;
  }
}

.btn-table {
  margin-top: 100px;
  margin-left: 40px;
  background: none;
  border: none;
  cursor: pointer;
  text-align: center;
  & .table-icon{
    &:hover {
      fill: orangered;
    }
  }
}