.wrapper-form {
  display: flex;
  justify-content: center;
}

.form {
 text-align: center;
  padding: 20px;
  border: 1px solid rgba(255, 69, 0, 0.16);
  box-shadow: 0 0 5px 3px rgba(126, 35, 4, 0.55);
  width: 30vw;
  margin-bottom: 30px;
  & h3 {
    color: orangered;
    font-size: 20px;
  }


  .form-label {
    text-align: left;
  }
}

.btn-form{
  padding: 10px 10px;
  margin: 30px 10px;
  box-shadow: 0 0 3px 2px rgba(126, 35, 4, 0.55);
  border: none;
  background-color: rgba(255, 69, 0, 0.56);
  color: white;
  cursor: pointer;
  &:disabled{
    background: rgba(208, 64, 24, 0.64);
  }
}