@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Roboto:wght@400;700;900&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
}

.main-page {
   height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 100px;
}
.header {
    position: relative;
}

.header-banner {
    background: url("../image/bg1.jpg"), rgba(0, 0, 0, 0.8);
    background-size: cover;
   background-position: bottom;
    background-blend-mode: darken;
    position: relative;

}

.header-banner::after,
.header-banner::before {
    content: "";
    border-bottom: 85px solid #ffffff;
    position: absolute;
    bottom: 0;
}

.header-banner::after {
    border-right: 50vw solid transparent;
    border-left: 0 solid transparent;
    left: 0;
 }
.header-banner::before {
    border-right: 0 solid transparent;
    border-left: 50vw solid transparent;
    right: 0;

}

.header-nav-bar {
    padding: 40px 300px 37px;
    background: #ffffff;
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
}

.nav-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;

}
.nav-item {
    text-decoration: none;
    color: #424F57;
}
.nav-menu .nav-list:first-child {
    padding-right: 300px;
    font-size: 36px;
    line-height: 36px;
    text-transform: none;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
}
.nav-menu .nav-list:first-child span{
    text-transform: uppercase;
    color: #14AFCA;
    font-weight: bold;

}


.header-title {
    padding: 292px 0 134px;
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 75px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;


   }

.main-title {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    color: #14AFCA;
    line-height: 40px;
    margin: 122px auto 0;
    text-transform: uppercase;

}
.what-banner{
    margin: 122px auto 90px;

}
.main-subtitle {
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
    margin: 30px auto;
    color: #424F57;
}
.main-content {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #424F57;
    width: 992px;
    max-width: 100%;
    text-align: center;
    margin: 0 auto;

}
.company-banner {
    background: url("../image/bg2.jpg"), rgba(0, 0, 0, 0.8);
    background-size: cover;
    background-position: center center;
    background-blend-mode: darken;
    position: relative;
    padding: 50px 215px 175px;
}
.company-banner .main-subtitle {
    color: #ffffff;
}

.company-banner::before {
    content: "";
    border-right: 50vw solid transparent;
    border-left: 50vw solid transparent;
    border-top: 85px solid #ffffff;
    position: absolute;
    left: 0;
    top: 0;
}
.menu-companys {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 60px 230px 0;
    gap: 69px;
}
.list-companys__adobe {
    background: white;
    display: flex;
    padding: 18px 16px;
}
.menu-employee {
    display: flex;
    margin: 0 445px;
    gap: 160px;
    padding-bottom: 128px;
}
.menu-employee p {
    margin-top:22px ;
    font-size: 15px;
    line-height: 28px;
    color: #424F57;
    font-family: 'Roboto', sans-serif;
}
.list-employee {
    text-align: center;
}
.test-banner {
    background: url("../image/bg2.jpg"), rgba(0, 0, 0, 0.8);
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    position: relative;
    padding: 105px 242px 143px;
    text-align: center;
}
.test-banner::before {
    content: "";
    border-right: 50vw solid transparent;
    border-left: 50vw solid transparent;
    border-top: 85px solid #ffffff;
    position: absolute;
    left: 0;
    top: 0;
}

.test-banner .main-subtitle {
    color: white;
}
.test-content {
   margin: 48px 242px 28px;
    font-size: 16px;
    line-height: 28px;
    font-family: 'Open Sans', sans-serif;
    color: #D3CCCC;
}
.test-signs {
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-style: italic;
    margin-right: 327px;
    text-align: end;
}
.why-banner {
    position: relative;

}

.why-banner::after,
.why-banner::before {
    content: "";
    border-bottom: 85px solid #ffffff;
    position: absolute;
    top: -205px;
}

.why-banner::after {
    border-right: 50vw solid transparent;
    border-left: 0 solid transparent;
    left: 0;
}
.why-banner::before {
    border-right: 0 solid transparent;
    border-left: 50vw solid transparent;
   right: 0;

}
.why-content {
    max-width: 816px;
    color: #424F57;
    font-weight: bold;
    font-size: 30px;
    line-height: 48px;
    text-transform: uppercase;
    margin: 0 auto 96px;
    text-align: center;
}
.footer {
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto 88px;
    max-width: 416px;
    text-align: center;
    color: #3D3C3C;
    font-size: 14px;
    line-height: 24px;
}
.footer span {
    font-weight: bold;
}
