*,
*::after,
*::before {box-sizing: border-box;
}



body {
    text-align: center;
    font-family: Montserrat, serif;
    margin: 0;
    padding: 0;
}


.header-nav {
    font-size: 18px;
    font-style: normal;
    letter-spacing: 2.7px;
    line-height: 18px;
    font-weight: bold;
    margin: 31px 330px;
   
    }

.header-nav-menu {
    display: inline-block;
    padding-left: 0;
    margin: auto;

}
.header-nav-menu-item {
    display: inline-block;
}
.header-nav-menu-item:not(:last-child) {
    margin-right: 72px;
}

.header-nav-menu-list {
    text-transform: uppercase;
    color: #FF0000;
    text-decoration: none;
}

.banner {
    background: url("../image/image 1.png");
    background-size: cover;
    padding: 78px 0 759px;
    background-position: center;
}

.title {
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 3.3px;
    font-style: normal;
    font-weight: bold;
    line-height: 27px;
    margin: 49px 253px 38px;

}
.text {
    margin: 0 67.5px 28px ;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 2.4px;



}
.button {
    display: inline-block;
    width: auto;
    max-width: 100%;
    border: 1px solid;
    border-radius: 4px;
    padding: 18px 42px;
    font-size: 12px;
    line-height: 12px;
    font-weight: bold;
    letter-spacing: 1.8px;
    transition: .33s all ease;
    white-space: normal;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    background: #FF0000;
    color: #FFFFFF;
    margin-top: 84px;
    text-decoration: none;
}

.footer-sign {
    margin: 82px 105px 29px 713px;
    text-align: right;
    Letter-spacing: 2.4px;
    line-height: 20px;
    font-weight: bold;
    font-size: 16px;
}