.header-btn{
    margin-top: 40px;
    margin-bottom: 60px;
      background-color:#0a0a23;
    color: #fff;
    border:none;
    border-radius:50%;
    box-shadow: 0px 0px 2px 2px rgb(0,0,0);
    padding: 50px;
    font-size:40px;
}
body{
    margin: 0 auto;
    text-align: center;
}

.user-card {
    font-size: 40px;
}