body{
    margin: 0 auto;
    text-align: center;
}
.modal-form {
    background: #D3CCCC ;
    position: fixed;
    top: 10vh;
    left: 50vw;
    /*right: 25vh;*/
    z-index: 99999;
    max-height: max-content;
    min-width: min-content;
    max-width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 20px;
    gap: 20px;
    font-size: 20px;

}

.modal-form input, label, textarea{
    min-width: 25vw;
    line-height: 2.5em;
display:block}

.post-list {
   display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.post-list li {
    width: 50vw;
    list-style: none;
    border: 2px solid steelblue;
    padding: 25px;

}