
body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    background: url("../image/background.jpg");
    background-size: cover;

}

.container {
    width: 1366px;
    margin: 0 auto;
    max-width: 100%;
}

.wrapper-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 46px 178px 17px 165px;
}

.header-contact {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-between;
    gap: 19px;
}
.header-contact__item {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 18px;
}

.header-contact__item:hover {
    color: #F26522;
}

.header-logo {
    padding-top: 0;
}

.logo-item {
    display: flex;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 22px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
}

.logo-item span:first-line {
    font-size: 29px;
    line-height: 29px;
}

.logo-photo {
    width: 53px;
    height: 47px;
    margin-right: 8px;
    background: url("../image/logo-w.png");
}

.header-logo:hover a {
    color: #F26522;
}

.header-logo:hover .logo-photo {
    background: url("../image/logo-o.png");
    width: 53px;
    height: 47px;
}

.wrapper-card {
    display: flex;
    flex-wrap: wrap;
    margin: 0 178px 49px 165px;
    justify-content: space-between;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    gap: 37px;
}

.list-card {
    width: 309px;
}
.list-card a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 18px;
}

.title-card {
    margin-top: 23px;
}

.card-photo {
    margin: 0 auto;
    position: relative;
    width: 300px;
    height: 220px;

}

.orange-card {
    width: 300px;
    background: #F26522;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 25px;
    opacity: 0;
    visibility: hidden;
}

.orange-card__sign {
    padding: 8px 0 12px;
    font-size: 14px;
    line-height: 14px;
}

.orange-card__sign::before {
    content: " \20AC 50";
    padding-right: 128px;
    font-size: 20px;
    line-height: 20px;
}

.orange-card__sign::after {
    content: "\003E";
    padding-left: 16px;
}

.orange-card__text {
    font-size: 10px;
    line-height: 10px;
    text-align: start;
    padding: 7px 0 0 20px;
}

.list-card:hover .title-card {
    color: #F26522;
}

.list-card:hover .orange-card {
    visibility: visible;
    transition: 0.8s;
    height: 55px;
    opacity: 1;
}

.list-card:hover .card-photo {
    width: 300px;
}

.card-photo::after {
    content: "";
    border: 4px solid;
    border-image: linear-gradient(to right, #FFFFFF, #000000, #FFFFFF, #000000) 1;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.footer {
    text-align: center;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    margin-bottom: 15px;
}