.wrapper-header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #0F1111;
  padding: 20px 40px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  & svg {
    fill: orangered;

  }
}

.wrapper-counter {
  position: relative;
}
.counter-header {
  color: #FFFFFF;
  font-size: 22px;
  position: absolute;
  top: 10px;
  left: -15px;
}