.not-found {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  & h2 {
    margin-top: 130px;
  }

  & span {
    color: orangered;
  }
  & img {
    width: 40vw;
   }
  & button {
    margin-top: 50px;
    background-color:black;
    border-radius: 6px;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 90px;

    &:hover {
      background-color: rgba(255, 69, 0, 0.79);
      box-shadow: 0 0 5px 3px rgba(126, 35, 4, 0.55);
    }
  }

  }