*,
*::after,
*::before {
    box-sizing: border-box;
}
body {
    background: #000000;

}

.container_gif {
    max-width: 770px;
    width: 100%;
     perspective: 1000px;
     margin: 0 auto;
    animation: gif-move 30s;
    text-align: center;


}
.gif-star {
    color: yellow ;
    margin: auto;
    cursor: zoom-in;

    /*transform: scale(1, 0.8) rotate(45deg);*/
}

@keyframes gif-move {
    0% {
        margin-bottom: 0;
    }
    100% { margin-top: 200px; }
}