
*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    background: #F2F2F2;
}
/*img {*/
/*    width: 100%;*/
/*}*/
.container {
    width: 1170px;
    margin: auto;
}


.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #313131;


}

.header-nav__logo {
    display: flex;
    justify-content: space-between;
    gap: 27px;
    align-items: center;

}

.header-nav__logo-item {
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    text-decoration: none;
    color: #FFFFFF;
    text-transform: uppercase;
}

.header-nav__menu {
    display: flex;
    justify-content: space-between;
    gap: 58px;
}

.header-nav__menu-item:hover {
    color: #14B9D5;
}

.header-nav__menu-list {
    font-size: 15px;
    line-height: 20px;
    font-weight: 600;
    margin: 28px 0 26px;
}

.header-nav__menu-item {
    text-decoration: none;
    color: #FFFFFF;
    text-transform: uppercase;
}

.header-nav__btn-search {
    width: 68px;
    cursor: pointer;
    border: none;
    background: #000000;
}

.header-nav__btn-search_img {
    padding: 26px;
    width: max-content;
}


.header-banner {
    background: url("../image/header-bg.jpeg");
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
}


.header-title {
    padding-top: 163px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-align: center;
}

.btn {
    padding: 16px;
    width: 170px;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    margin: auto 20px;
    cursor: pointer;
}

.header-btn {
    display: flex;
    justify-content: center;
    padding: 44px 74px;
}


.header-btn-subscribe {
    background: #89CA62;
}

.header-btn-best {
    background: #14B9D5;
}

.title {
    color: #18B4CF;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    margin: 49px auto 52px;
    text-align: center;
}

.wrapper-our-most {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    max-height: 1000px;
    gap: 30px;
}

.wrapper-photo {
    text-align: center;
}

.wrapper-photo:hover {
    transform: scale(1.15);
    transition: 0.8s;
}


.title-photo {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    margin: 18px 0 18px;
}

.banner-our-most {
    background: url("../image/parallax-bg.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-top: 74px;
}

.title-our-most {
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    padding-top: 106px;
}

.border-our-most {
    margin: 87px auto 106px;
    background: #18B4CF;
    width: 60px;
    height: 3px;
}

.client-our-most {
    padding-bottom: 192px;
    display: grid;
    grid-template-columns: repeat(4, max-content);
    grid-gap: 58px;
    justify-content: center;
    align-items: center;
}

.list-client-our-most:hover img {
    transform: scale(1.2);
    transition: 1s;
}

.list-client-our-most {
    align-items: center;
    flex: 1 1 auto;
}

.wrapper-rated {
    display: grid;
    grid-auto-flow: column;
}

.wrapper-hot-news {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 42px 30px;

}

.wrapper-hot-news-photo {
    display: flex;
}
.wrapper-hot-news-photo>img {
    width: auto;
}

.new-prophecy {
    grid-column: 1/ span 3;
}

.new-western {
    grid-column: 1 / span 2;
    margin-right: 15px;
}

.new-grand {
    grid-column: 3 / span 2;
    margin-left: 15px;
}

.new-wanderlus {
    grid-column: 1 / span 2;
    margin-right: 15px;
}

.new-twin {
    grid-column: 3 / span 2;
    margin-left: 15px;
}

.news-king {
    grid-column: 2 / span 3;
}


.content-hot-news {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
    text-align: end;
    margin: 0 14px;
}

.hot-news__item {
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;

}

.hot-news__item:hover {
    font-size: 20px;
    transition: 1s;
    color: #14B9D5;
}

.title-news {
    margin: 15px 14px 15px 0;
    text-align: end;

}

.footer {
    background: #000000;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    text-decoration: none;
}

.footer-wrapper {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    align-items: center;
    grid-gap: 560px;
    margin-top: 77px;


}

.footer-text {
    padding: 30px 0;
    color: #FFFFFF;
    font-weight: normal;
    font-size: 13px;
    line-height: 13px;
}

.footer-logo {
    max-width: min-content;
    padding: 28px 0;
}
