@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

* *,
*::after,
*::before {
    box-sizing: border-box;
}
.wrapper-table1 {
    background: #3A4965;
    width: min-content;
}

.table {
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
    line-height: 28px;
    color: #484848;
    text-align: center;
    text-transform: uppercase;
    background: #3A4965;
    border-spacing: 0;
}

.table1 {
    width: 1192px;
    height: 736px;
    padding: 22px 29px 32px 20px;
    margin: 0 auto;
}

.table1 td:nth-child(2),
.table1 td:nth-child(3),
.table1 td:nth-child(4),
.tb1-col-price td:first-child{
    border-left: 3px solid #DDDDDD;
}

.head-table1 th {
    height: 72px;
    line-height: 28px;
    font-weight: bold;
}

.head-table1 th:nth-child(2) {
    color: #FFFFFF;
    font-size: 24px;
    background: #89C331;
}

.head-table1 th:nth-child(3) {
    font-weight: bold;
    font-size: 30px;
    line-height: 28px;
    color: #FFFFFF;
    background: #F04A56;
}

.head-table1 th:nth-child(4) {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    background: #20807C;;
}

.head-table1 th:first-of-type {
    background: #FAFAFA;
    font-weight: bold;
    font-size: 30px;
    line-height: 28px;
    width: 313px;
}

.head-table1 th:first-of-type:first-line {
    font-size: 18px;
}

.tb1-col-price {
    background: #FAFAFA;
    font-size: 18px;
    height: 89px;
}

.tb1-col-price span {
    font-size: 60px;
    font-weight: bold;
    position: relative;
    top: 10px;

}

.tb1-col-price span:after {
    content: ".99";
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    right: -35px;
    top: 0;
}


.table1-button {
    background: #FAFAFA;
    height: 109px;
}

.table1-button button {
    padding: 18px 0 9px;
    width: 154px;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-weight: bold;
}

.table1-button :first-child button {
    background: #484848;
    border-bottom: 9px solid #404040;
}

.table1-button :nth-child(2) button {
    background: #89C331;
    border-bottom: 9px solid #79B027;
}

.table1-button :nth-child(3) button {
    background: #F04A56;
    border-bottom: 9px solid #DF3A46;
}

.table1-button :last-child button {
    background: #20807C;
    border-bottom: 9px solid #16736F;
}

.table-info tr {
    height: 72px;
}

.table-info tr:nth-child(even) {
    background: #F2F2F2;
}

.table-info tr:nth-child(odd) {
    background: #E3E3E3;
}

.table-2 {
    width: 1197px;
    height: 660px;
    margin: 50px auto auto;
    padding: 28px 27px 21px 27px;
}
.table-2 th:nth-child(odd),
.table-2 td:nth-child(odd) {
    background: #F2F2F2;
}
.table-2 th:nth-child(even),
.table-2 td:nth-child(even) {
    background: #E3E3E3;
}
.head-table-2 th:first-of-type {
    width: 201px;
    background: #FAFAFA;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    padding: 25px 0 44px;
}

.head-table-2 th:first-of-type:first-line {
    font-size: 14px;
}
.table-2 th {

    border-bottom: 14px solid  #3A4965;
    font-size: 24px;
    min-width: 160px;
}

.table-2 td:not(.table-2-buy){
    border-bottom: 3px solid #DDDDDD;
}
.table-2-buy button {
    padding: 8px 19px 8px 21px;
    width: 147px;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    background: #414141;
    border-bottom: 4px solid #343434;
    margin-top: 8px;
}
.table-2-info td:first-child{
    font-weight: bold;
    font-size: 14px;
    line-height: 28px;
    color: #FFFFFF;
    min-width: 201px;
}
.table-2-info td:first-child:first-line{
    font-size: 24px;
    line-height: 40px;
}


.table-2-info span{
font-size: 36px;
    position: relative;

}
.table-2-info tr:first-child .table-2-buy{
    background: #89C331;

}
.table-2-info tr:nth-child(2) .table-2-buy{
    background: #F04A56;
}
.table-2-info tr:nth-child(3) .table-2-buy{
    background: #20807C;
}
.table-2-buy span:after {
    content: ".99";
    font-size: 18px;
    position: absolute;
    right: -20px;
    top: 0;
}