.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
body{
    background-color: #3A4965;
}

.list-wars {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 35px;
    list-style: none;
}

.item-wars{
    border: 4mm ridge rgba(211, 220, 50, .6);
}
